<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="<%- client_id %>">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <title>Login</title>
    <style>
        #my-signin2 {
            margin: 10px;
        }
        #my-signin2 > * {
            margin: auto;
        }
        #access {
           text-align: center;
           font-size: 1.4rem;
        }
        #password {
            width: 180px;
            height: 25px;
            font-size: 1.4rem;
        }
        #msg{
            color: red;
            font-size: 1.4rem;
            margin: 10px;
            text-align: center;
        }
    </style>
</head>
<body>

    <div id="my-signin2"></div>
    <script>
        function renderButton() {
        gapi.signin2.render('my-signin2', {
            'scope': 'profile email',
            'width': 240,
            'height': 50,
            'longtitle': true,
            'theme': 'dark',
            'onsuccess': onSignIn
        });
        }
    </script>

    <div id="access"><label for="password">Access Code: </label><input type="password" id="password"></div>
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
    <div id="msg"><%- error %></div>

    <!-- <a href="#" onclick="signOut();">Sign out</a> -->
    <script>
    function signOut() {
        const auth2 = gapi.auth2.getAuthInstance()
        auth2.disconnect()
    }
    </script>

    <script defer>
    function onSignIn(googleUser) {
        const profile = googleUser.getBasicProfile();
        const id_token = googleUser.getAuthResponse().id_token;
        const xhr = new XMLHttpRequest();
        xhr.open('POST', '/login');
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onload = function() {
            if(xhr.status === 200) {
                signOut()
                if('<%- dest %>') {
                    location.assign('<%- dest %>')
                } else {
                    document.getElementById('msg').innerHTML = 'You are now logged in. Redirecting you to the home page...'
                    setTimeout(() => {
                        location.assign('/')
                    }, 1500)
                }
            } else {
                signOut()
                document.getElementById('msg').innerHTML = xhr.responseText
            }
        };
        xhr.send(JSON.stringify({token: id_token, password: document.getElementById('password').value}));
        
      }
    </script>
    
</body>
</html>